body {
    background-image: url(https://i.pinimg.com/736x/1d/65/cc/1d65cc9ce3375d8fe3a993b90a7d41b6.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
